<a href="https://colab.research.google.com/github/RitaRitaIsOOO/PYTH_Homework/blob/master/basic_data_types_psets_AM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""
a = None 

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

FavNum = 8  # 8 is my favorite number
print (FavNum)

FavColor = "orange" # love the this color
print (FavColor)


# Create another variable that represents your favorite color, and do the same steps as above.

8
orange



### P3.PY

In [0]:
"""
String Formatting
"""
a = "Song Title: Itsy Bitsy Spyder \n Author: Old McDonald \n"
b = "The itsy bitsy spider went the wall down came the rain and the itsy bitsy spider came down"

print (a,b)
# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

Song Title: Itsy Bitsy Spyder
 Author: Old McDonald
 The itsy bitsy spider went the wall down came the rain and the itsy bitsy spider came down

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, 
#you need to update their score to reflect gains and losses in points. Each math operation below dictates 
#the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's 
# score throughout the game.

latest_score = 100
print(latest_score)

# Add 50
a = latest_score + 50
print (a)

latest_score += 50 
print (latest_score)


# Subtract 90
b = a - 90 
print (b)

latest_score -=90
print (latest_score)


# Multiply 10
c = b*10
print (c)

latest_score *= 10
print (latest_score)



# Divide 150

d = c/150
print (d)
latest_score /= 150
print (latest_score)



# Modulus 3

e = d % 3
print (e)
latest_score %=3
print (latest_score)

100
150
150
60
60
600
600
4.0
4.0
1.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

a = "I'll go to work today"
b = ", and I'll go to happy hour."

print (a+b)


# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

I'll go to work today, and I'll go to happy hour.



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

print (a+b)



# B)
c = '0'
d = '2'

print (c+d)



# C)
e = '0'
f = 2

print (int(e)+f)

try:
  sum_ef = e + f
except Exception:
    print ("something went wrong")


try:
  sum_ef = e + f
except TypeError as typeerror:
    print ("e and f not the same type")
    print (typeerror)
except Exception as e:
    print (e)

2
02
2
something went wrong
e and f not the same type
must be str, not int



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print (a+b)


# B)
c = False
d = False

print (c+d)



# C)
e = True
f = False
print (e+f)

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

print (float(five))
print (type(float(five)))
print (five)
print (type(five))

print (float(zero))
print (type(float(zero)))
print (zero)
print (type(zero))

print (float (neg_8))
print (type(float(neg_8)))
print (neg_8)
print (type(neg_8))

print (float (neg_22))
print (type(float(neg_22)))
print (neg_22)
print (type(neg_22))

5.0
<class 'float'>
5
<class 'int'>
0.0
<class 'float'>
0
<class 'int'>
-8.0
<class 'float'>
-8
<class 'int'>
-22.0
<class 'float'>
-22
<class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data 
# types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

print (str(five))
print (type(str(five)))
print (five)
print (type(five))

print (str(zero))
print (type(str(zero)))
print (zero)
print (type(zero))

print (str(neg_8))
print (type(str(neg_8)))
print (neg_8)
print (type(neg_8))

print (str(T))
print (type(str(T)))
print (T)
print (type(T))

print (str(F))
print (type(str(F)))
print (F)
print (type(F))

5
<class 'str'>
5
<class 'int'>
0
<class 'str'>
0
<class 'int'>
-8
<class 'str'>
-8
<class 'int'>
True
<class 'str'>
True
<class 'bool'>
False
<class 'str'>
False
<class 'bool'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. 
# Print the result and the datatype of the result. 

one = 1
zero = 0

print(bool(one), type(bool(one)))
print (bool(zero), type(bool(zero)))

# B) Use typecasting to turn the resultant variables from part A into floats. 
# Print the result and the datatype of the result.

print(float(one), type(float(one))) 
print(float(zero),type (float(zero)))


# C) Use typecasting to turn the resultant variables from part B back into booleans. 
# Print the result and the datatype of the result.
print(bool(one), type(bool(one)))
print (bool(zero), type(bool(zero)))

# C) Use typecasting to turn the resultant variables from part C into integers. 
# Print the result and the datatype of the result.

print (one, type(one))
print (zero, type(zero))

# E) Use typecasting to turn the variable below into a boolean value. 
# Print the result and the datatype of the result. 

ten = 10

print (bool(ten), type(bool(ten)))

True <class 'bool'>
False <class 'bool'>
1.0 <class 'float'>
0.0 <class 'float'>
True <class 'bool'>
False <class 'bool'>
1 <class 'int'>
0 <class 'int'>
True <class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. 
# Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

print(bool(one), type(bool(one)))
print (bool(zero), type(bool(zero)))
print (int(T), type(int(T)))
print (int(F), type(int(F)))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' 
# back into integers. Print the result and the datatype of the result.
print (one, type(one))
print (zero, type(zero))


# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. 
# Print the result and the datatype of the result.


print (type(T))
print (type(F))

True <class 'bool'>
False <class 'bool'>
1 <class 'int'>
0 <class 'int'>
1 <class 'int'>
0 <class 'int'>
<class 'bool'>
<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'apples'
item_name_2 = 'bread'
item_name_3 = 'milk'
item_name_4 = 'oranges'
item_name_5 = 'chips'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = 0.50
item_price_2 = 2.50
item_price_3 = 3.00
item_price_4 = 0.50
item_price_5 = 5.00

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 3
item_quant_2 = 1
item_quant_3 = 1
item_quant_4 = 5
item_quant_5 = 2

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

print (f'{item_quant_1} {item_name_1} = ${item_price_1*item_quant_1}.')
print (f'{item_quant_2} {item_name_2} = ${item_price_2*item_quant_2}.')
print (f'{item_quant_3} {item_name_3} = ${item_price_2*item_quant_3}.')
print (f'{item_quant_4} {item_name_4} = ${item_price_2*item_quant_4}.')
print (f'{item_quant_5} {item_name_5} = ${item_price_2*item_quant_5}.')

3 apple = $1.5.
1 bread = $2.5.
1 milk = $2.5.
5 orange = $12.5.
2 chips = $5.0.



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for 
# name, price, quantity. Here's how it works:

##aitem_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('List your first item:')
item_name_2 = input('List your second item:')
item_name_3 = input('List your third item:')
item_name_4 = input('List your fourth item:')
item_name_5 = input('List your fifth item:')

# use input() function and ask user to name prices
item_price_1 = float(input('What is the price of your first item?'))
item_price_2 = float(input('How much is your second item?'))
item_price_3 = float(input('How much is your third item?'))
item_price_4 = float(input('How much is your fourth item?'))
item_price_5 = float(input('How much is your fifth item?'))

# use input() function and ask user to name quants
item_quant_1 = int(input('How many of item one do you have?'))
item_quant_2 = int(input('How many of item two do you have?'))
item_quant_3 = int(input('How many of item three do you have?'))
item_quant_4 = int(input('How many of item four do you have?'))
item_quant_5 = int(input('How many of item five do you have?'))

print (f'{item_quant_1} {item_name_1} = ${item_quant_1*item_price_1}.')
print (f'{item_quant_2} {item_name_2} = ${item_quant_2*item_price_2}.')
print (f'{item_quant_3} {item_name_3} = ${item_quant_3*item_price_3}.')
print (f'{item_quant_4} {item_name_4} = ${item_quant_4*item_price_4}.')
print (f'{item_quant_5} {item_name_5} = ${item_quant_5*item_price_5}.')


# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

List your first item:apple
List your second item:banna
List your third item:bread
List your fourth item:turkey
List your fifth item:ginger
What is the price of your first item?4.5
How much is your second item?3.4
How much is your third item?3.6
How much is your fourth item?3
How much is your fifth item?8
How many of item one do you have?5
How many of item two do you have?4
How many of item three do you have?6
How many of item four do you have?7
How many of item five do you have?8
5 apple = $22.5.
4 banna = $13.6.
6 bread = $21.6.
7 turkey = $21.0.
8 ginger = $64.0.